@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url(../img/galaxia.jpg);
    min-height: 100vh;
}

.nav {
    background-color: black;
    width: 100%;
    height: 80px;
    color: white;
}

.nav__logo {
    width: 200px;
    padding-left: 10px;
}

.nav__menu {
    display: grid;
    grid-auto-flow: column;
    gap: 2em;
    padding-right: 15px;
}

.nav__container {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav__label, .nav__input {
    display: none;
}

.nav__text {
    font-size: 2rem;
    text-align: center;
    margin: 5px auto;
}

.nav__list {
    margin-right: 10px;
}

.nav__anchors {
    color: white;
    text-decoration: none;
    line-height: 30px;
    font-size: 1.5rem;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__anchors::after {
    content: "";
    display: block;
    background: #fff;
    width: 90%;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s ;
}

.nav__anchors:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav__logo:hover {
    transform: rotateX(360deg);
    cursor: pointer;
    transition: transform 0.75s; 
}
 
.main__image {
    width: 700px;
    padding: 2rem;
    margin: auto;
    transform: translateY(3rem);
}

.main__title--index {
    font-size: 3rem;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 2rem 0;
    transform: translateY(6rem);
}

.main__container {
    color: rgb(255, 255, 255);
    display: flex;    
} 

.main__text {
    text-align: center;
    font-size: 1.5rem;
    padding: 3rem;
    margin: auto;
    transform: translateY(6rem);
}

.slide-in-left {
	-webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
}
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
}

.slide-in-elliptic-bottom-fwd {
	-webkit-animation: slide-in-elliptic-bottom-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-bottom-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-elliptic-bottom-fwd {
    0% {
      -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
              transform: translateY(600px) rotateX(30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% -1400px;
              transform-origin: 50% -1400px;
      opacity: 1;
    }
}
  @keyframes slide-in-elliptic-bottom-fwd {
    0% {
      -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
              transform: translateY(600px) rotateX(30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% -1400px;
              transform-origin: 50% -1400px;
      opacity: 1;
    }
}

.pie {
    height: 61px;
    background-color: black;
    display: flex;
    justify-content: end;
    align-items: center;
    transform: translateY(2.1rem);
}

.pie__icon {
    width: 50px;
    margin: 0 10px;
}

.main__title--roles {
    font-size: 4rem;
    text-align: center;
    margin: 2rem 0;
}

.main__title--armas {
    font-size: 4rem;
    text-align: center;
    margin: 2rem 0;
}

.table {
    background-color: white;
}

.main__title--skin {
    font-size: 4rem;
    text-align: center;
    margin: 2rem 0;
}

.main__title--torneos {
    font-size: 4rem;
    text-align: center;
    margin: 2rem 0;
    color: white;
}

.main--torneos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    position: relative;
    width: 290px;
    height: 400px;
    margin: 45px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;

}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: transparent;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px; 
}

.card .back .link a {
    color: #f3f3f3;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

@media (max-width: 1002px){

    .main__container {
        display: flex;
        flex-direction: column;     
    }

    .main__title--index {
        font-size: 2rem;
    }

    .main__text {
        font-size: 1.5rem;
    }

    .main__image {
        width: 690px;
    }
}

@media (max-width: 755px){
    
    .nav__label {
        display: block;
        cursor: pointer;
    }

    .nav__menu {
        position: fixed;
        top: 80px;
        bottom: 0;
        background: rgb(0, 0, 0);
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }

    .nav__input:checked + .nav__menu {
        clip-path: circle(100% at center);
    }
    
    .main__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-index {
        margin: 0;
    }

    .main__title--index {
        transform: none;
        font-size: 1.5rem;
    }

    .main__text {
        transform: none;
        font-size: 1rem;
    }

    .main__image {
        width: 400px;
        transform: none;
        
    }
}

@media (max-width: 465px){
    .main__image {
        width: 250px;
    }

    .pie {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pie__icon {
        height: 30px;
        width: 30px;
    }
}