.title--armas {
    font-size: $textxl;
    text-align: center;
    margin: 2rem 0;
    color: $white;
}

.main--armas {
    color: $white;
    font-size: 1.5em;
    padding: 20px;
    margin: 20px;
    h3 {
        text-align: center;
    }
    div img {
        height: 60%;
        width: 40%;
    }
    .list--armas {
        padding-bottom: 30px;
    }
    .pist--armas {
        padding-bottom: 30px;
    }
    .sub--armas {
        padding-bottom: 30px;
    }
    .esco--armas {
        padding-bottom: 30px;
    }
    .fus--armas {
        padding-bottom: 30px;
    }
    .fran--armas {
        padding-bottom: 30px;
    }
}