@import "./scss/mixins";

.title--roles {
    font-size: $textxl;
    text-align: center;
    margin: 2rem 0;
    color: $white;
}

.main--roles {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    .section--roles {
        width: 100%;
        height: auto;
        padding: 10px;
        margin: 10px;
        h3 {
            color: $white;
            font-size: $textlg;
        }
        p {
            @include text(1.3rem,1.2em,white);
        }
    }
    .video--roles {
        padding: 10px;
        margin: 10px;
        video {
            height: 85%;
            width: 100%;
        }
    }
}